<h1>All Tweets</h1>
<p><%= link_to('Create a Tweet', new_tweet_url) %></p>

<p>There are <%= @tweets.count %> tweets.</p>

<% @tweets.each do |tweets| %>
	<p>
		<%= link_to(@tweet.text, tweets) %>
	</p>
<% end %>